<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Hoang Dieu School</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/content/imagesad/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/content/cssad/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/content/cssad/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/content/cssad/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/content/cssad/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/content/cssad/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/content/cssad/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/content/cssad/custom.css" />
    <link rel="stylesheet" href="~/content/fonts/fontawesome-free-6.5.2/css/all.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.~/content/jsad/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="~/MyHome/myhome"><img class="logo_icon img-responsive" src="~/content/images/logoHD.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="~/content/imagesad/layout_img/msg1.png" alt="#" /></div>
                            <div class="user_info">
                                <h6>Trần Lan Nhi</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!----->>
                <div class="sidebar_blog_2">
                    <h4>TỔNG QUÁT</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a class="nav-link" href="nhanvien"><i class="fa fa-user yellow_color"></i> <span>NHÂN VIÊN</span></a>
                        </li>
                        <li><a class="nav-link" href="phongban"><i class="fa fa-home orange_color"></i> <span>PHÒNG BAN</span></a></li>
                        <li>
                            <a class="nav-link" href="hopdong"><i class="fa fa-file-pen purple_color"></i> <span>HỢP ĐỒNG</span></a>
                        </li>
                        <li class="active">
                            <a href="#baohiem" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-heart purple_color2"></i> <span>BẢO HIỂM</span></a>
                            <ul class="collapse list-unstyled" id="baohiem">
                                <li>
                                    <a class="nav-link" href="baohiemyte">> <i class="fa fa-stethoscope red_color"></i> <span>BẢO HIỂM Y TẾ</span></a>
                                </li>
                                <li>
                                    <a class="nav-link" href="baohiemxh">> <i class="fa fa-hospital red_color"></i> <span>BẢO HIỂM XÃ HỘI</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="nghiphep"><i class="fa fa-head-side-virus blue2_color"></i> <span>NGHỈ PHÉP</span></a>

                        </li>
                        <li><a href="luong"><i class="fa fa-money-check-dollar blue1_color"></i> <span>LƯƠNG</span></a></li>

                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="~/MyHome/myhome"><img class="img-responsive" src="~/content/images/logoHD.png" alt="#" /><span>HOÀNG DIỆU</span></a>

                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-circle-question"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/content/imagesad/layout_img/msg1.png" alt="#" url="" /><span class="name_user">Trần Lan Nhi</span><i class="fa fa-caret-down"></i></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>
                                                <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <section class="main_content">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>






    <!-- jQuery -->
    <script src="~/content/jsad/jquery.min.js"></script>
    <script src="~/content/jsad/popper.min.js"></script>
    <script src="~/content/jsad/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/content/jsad/animate.js"></script>
    <!-- select country -->
    <script src="~/content/jsad/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/content/jsad/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/content/jsad/Chart.min.js"></script>
    <script src="~/content/jsad/Chart.bundle.min.js"></script>
    <script src="~/content/jsad/utils.js"></script>
    <script src="~/content/jsad/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/content/jsad/perfect-scrollbar.min.js"></script>
    <script>var ps = new PerfectScrollbar('#sidebar');</script>
    <!-- custom js -->
    <script src="~/content/jsad/custom.js"></script>
    <script src="~/content/jsad/chart_custom_style1.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
