@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<main>
    <form action="/" method="post" width="10%">
        <div class="card-header">
            <h1 class="card-title">
                <i class="fa fa-critical-role orange_color"></i>
                NỘI QUY
            </h1>
        </div>
        <hr />
        <div class="content">
            <h4 style="text-align: center">NỘI QUY LAO ĐỘNG TRƯỜNG THPT HOÀNG DIỆU</h4>
            <h6 style="text-align: center">----------------</h6>
            <p>
                Căn cứ Bộ luật Lao động nước Cộng hòa xã hội chủ nghĩa Việt Nam ngày 20/11/2019;

                Căn cứ Nghị định 45/2013/NĐ-CP ngày 10/05/2013 của Chính phủ quy định chi tiết một số điều của Bộ luật Lao động về thời giờ làm việc, thời giờ nghỉ ngơi và an toàn lao động, vệ sinh lao động;

                Căn cứ Nghị định 05/2015/NĐ-CP ngày 12/01/2015 của Chính phủ hướng dẫn thi hành một số nội dung của Bộ luật Lao động;

                Căn cứ Nghị định 148/2018/NĐ-CP ngày 24/10/2018 của Chính phủ sửa đổi, bổ sung một số điều của Nghị định 05/2015/NĐ-CP hướng dẫn thi hành một số nội dung của Bộ luật Lao động;

                Căn cứ tổ chức sản xuất kinh doanh và tổ chức lao động trong doanh nghiệp;

                Sau khi trao đổi và thống nhất với Ban chấp hành Công đoàn Công ty;

                Giám đốc Công ty ban hành Nội quy lao động trong Công ty gồm các quy định sau:
            </p>
            <h4 style="text-align:center">
                Chương 1. NHỮNG NỘI QUY CHUNG
            </h4>
            <h5>
                Điều 1. Nội dung và mục đích
            </h5>
            <hr />
            <p>
                Nội quy lao động là những quy định về kỷ luật lao động mà người lao động phải thực hiện khi làm việc tại doanh nghiệp; quy định việc xử lý đối với người lao động có hành vi vi phạm kỷ luật lao động; quy định trách nhiệm vật chất đối với người lao động vi phạm kỷ luật làm thiệt hại tài sản của Công ty.
            </p>
            <h5>
                Điều 2. Phạm vi áp dụng
            </h5>
            <hr />
            <p>
                Nội quy lao động áp dụng đối với tất cả mọi người lao động làm việc trong doanh nghiệp theo các hình thức và các loại hợp đồng lao động, kể cả người lao động trong thời gian thử việc, học nghề.
            </p>
            <h5>
                Điều 3. Áp dụng, sửa đổi và bổ sung
            </h5>
            <hr />
            <p>
                Những vấn đề không được quy định trong Nội quy lao động này sẽ được giải quyết theo những quy định của pháp luật lao động.

                Tùy thuộc vào sự thay đổi chính sách của Công ty và pháp luật lao động, những điều khoản trong nội quy này có thể được sửa đổi, bổ sung tùy từng trường hợp. Công ty sẽ đăng ký những sửa đổi này tại Sở Lao động Thương binh và Xã hội và thống báo cho tất cả người lao động.
            </p>
            <h5>
                Điều 4. Hiệu lực thi hành
            </h5>
            <hr />
            <p>
                Những nội dung quy định trong nội quy này có hiệu lực kể từ ngày được Sở Lao động Thương binh và Xã hội xác nhận đăng ký.
            </p>
        </div>
    </form>
</main>