
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="costum_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 style="font-size:24px; font-family:'Times New Roman', Times, serif" class="furniture_text">Quản lý nguồn lực của bạn theo cách chuyên nghiệp nhất</h1>
                    <p style="font-size:20px; font-family:'Times New Roman', Times, serif; color:brown" class="there_text">HD - Chuyên nghiệp - Tiện lợi - An toàn</p>
                    <div class="contact_bt_main">
                        <div style="font-size:20px; font-family:'Times New Roman', Times, serif" class="contact_bt"><a href="~/Contact/contact">Tìm hiểu về chúng tôi</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
